<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml", method="post">
        <input type="text" name="name" placeholder="Name"/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
